.container{
  overflow:hidden;
  display:flex;
  flex-direction:column;
  text-align:center;
  height:100vh
}

.content{
  margin-bottom:10vw;
   width:100%;
   position:relative;
   min-height:100vh;
   box-sizing:border-box;
   display:flex;
   justify-content:center;
   align-items:center;
   flex-direction:column;
   padding:80px 40px;
   height:100%;
}

.bg-image {
  height:100%;
  background-size:cover; background-position:top;
  background-repeat:no-repeat;
  top:0;
  right:0;
  left:0;
  position:absolute;
  background-image: url("../../Assets/images/login-background.jpg");
  z-index: -1;
}
.cta{
  margin-bottom: 2vw;
  max-width: 650px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content:center ;
  margin-top: 0;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  transition-timing-function:ease-out ;
  transition: opacity 0.2s ;
  width: 100%;
}
.cta-logo-one{
  display: flex;
  width: 100%;
}

.cta-logo-one img{
 margin: auto;
 margin-bottom: 12px;
 max-width: 600px;
 min-height: 10px;
 display: block;
 width: 100%;
 align-items: center;
 justify-content: center;
}
.signup button{
  font-weight: bold;
  color: #f9f9f9;
  background-color: #0063e5;
  border: 1px solid transparent;
  width: 100%;
  margin-bottom: 12px;
  letter-spacing: 1.5px;
  height: 50px;
  font-size:20px ;
  border-radius: 5px;
  min-height: 20px;

}
.signup button:hover{
  background-color: #0483ee ;
  transform: scale(1.005);
  transition: 0.5s;
}

.description{
  color: hsla(0,0%,95.3%,1);
  font-size: 13px;
  margin:  10px 24px;
  line-height: 1.5;
  letter-spacing: 1.5px;
}
.cta-logo-two img{
  width: 100%;
  max-width: 600px;
  margin-bottom: 20px;
 display: inline-block;
 vertical-align: bottom;
}
